<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Locatie waar workspaces worden opgeslagen -->
    <add key="workspacelocation" value="C:\Users\woute\eclipse-workspaces"/>
    
    <!-- Locatie waar repositories worden opgeslagen -->
    <add key="repofolder" value="C:/Users/woute/Desktop/repos"/>
    
    <!--TCP config-->
    <add key="port_no" value="5000"/>
    <add key="server_ip" value="192.168.192.29"/>
  
    <!-- UIAutomation config-->
    <add key="waittime" value="1000"/>
    <add key="eclipse" value="Eclipse IDE for Java Developers - 2020-03"/>
  </appSettings>
</configuration>